@charset "UTF-8";

* {
    /*"border box" abrange a
     área total ocupada por um elemento,
      desde a borda interna até a borda externa.*/
    box-sizing: border-box ;

    font-family:"Oxygen",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;

}

:root{
    --color-background: #030207;
    --color-white: #fff;
    --color-blue:#1474b4;

}

body{
    color: var(--color-white);
    background-color: var(--color-background);
}

a{
    color: var(--color-blue);
    

}


.hero {
    /* efeito de transição de cores muito massa ! */
    background: linear-gradient(rgba(0,0,0,0.1),var(--color-background));

    position: relative;
    min-height: 100vh ;
}

.hero__background{
    /*define como um objeto vai
     encaixar na tela ex tamanho: cover, fill etc...*/
    object-fit:cover ;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;

    /*permite controlar a profundidade de um elemento */
    z-index: -10 ;
}

.hero__foreground{
    text-align: center;
    color: var(--color-white);
    padding-top:40vh ;
}
.hero__title{
    font-size: 4rem;
    font-weight: 300;
}

.hero__text{
    margin-top: 2rem;
    letter-spacing: 0.4rem;
    /*deixa as letras todas maiusculas*/
    text-transform: uppercase;
}

.section{
    overflow: hidden;
    padding: 0 8rem;
    text-align: center;

}

.section__title{
    margin: 4rem auto;
    font-size: 3rem;
    font-weight: 300;
}

.section__img,
.section__img-inline{
    /*impede que a imagem transborde pra
    fora da pagina */
    width: 100%;

    max-height: 30rem;
    position: relative;
    border-radius: 0.75rem;
    object-fit: cover;
    object-position: top;

    /*eixo-x, eixo-y, blur(espalhar), cor */
    box-shadow: 0 1rem 2rem -0.5rem rgba(20, 116, 180, 0.25);
}

.section__text,
.section__text-inline{
    /*aumenta o espaço entre uma linha e outra*/
    line-height: 1.75rem;

    font-size: 1.25rem;
    margin: 4rem auto;
}

.section__img-inline{
    /*faz a imagem flutuar entre a pagina*/
    float: left;

    
    margin: 0rem 4rem 2rem 0rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem ;
    height: 25rem;
    width: 20rem;
}

.section__text-inline{
    margin-top: 6rem;
    text-align: left;
}

.section__text-inline > p{
    margin-top: 1.5rem;
}

section#hangouts img{
    object-position: center;
}

.gallery__img{
    object-fit: cover;
    width: 16rem;
    height: 16rem;
    border-radius: .75rem;

    /*permiote aplicar efeitos unicos de 
    tranformar os objetos */
    transform: rotate(-2deg);
}
.gallery__img-wrapper{
    display: inline-block;
    position: relative;
}
.gallery__img-wrapper + .gallery__img-wrapper{
    margin-left: 3rem;
    margin-top: 3rem;
}

/* selecionando os numeros pares da "lista de imagens"*/
.gallery__img-wrapper:nth-child(even) > .gallery__img{
    top: 1rem;
    transform: rotate(2deg);
}

/*criando elementos dentro das imagens */
.gallery__img-wrapper::after {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background-color: rgb(228, 26, 26);
    border-radius: 1000px;
    position: absolute;
    top: 0.25rem;
    right: 1rem;
}
.gallery__img-wrapper:nth-child(even)::after{
    left: 1rem;
   
}

.footer{
    text-align: center;
    margin-top: 4rem;
    padding: 2rem;
}

/* Estilo padrão do link */
#icaropaixao {
    text-decoration: none; /* Remove o sublinhado padrão do link */
    color: var(--color-blue); /* Cor do texto do link */
    transition: border-bottom 0.3s ease; /* Adiciona uma transição suave ao efeito */
    position: relative; /* Permite posicionar o pseudo-elemento ::after de acordo com o link pai */
  }
  
  /* Efeito de sublinhado ao passar o mouse */
  #icaropaixao:hover {
    border-bottom: 2px solid var(--color-blue); /* Adiciona um sublinhado de 2 pixels quando o mouse passa sobre o link */
  }
  
  /* Estilo do sublinhado - pseudo-elemento ::after */
  #icaropaixao::after {
    content: ""; /* Adiciona um conteúdo vazio para o pseudo-elemento */
    position: absolute; /* Posiciona o pseudo-elemento de forma absoluta em relação ao link pai */
    left: 0; /* Alinha o pseudo-elemento à esquerda do link pai */
    right: 0; /* Alinha o pseudo-elemento à direita do link pai */
    bottom: -4px; /* Coloca o pseudo-elemento 2 pixels abaixo do link pai (correspondente à altura do sublinhado) */
    border-bottom: 4px solid transparent; /* Define um sublinhado transparente inicialmente */
    transition: border-bottom 0.1s ease; /* Adiciona uma transição suave ao efeito do sublinhado */
  }